head
 title Account!
 meta(name='viewport' content='width=device-width, initial-scale=1')
 link(rel='stylesheet' href='css/account.css')
body
  .tweetPostContainer
    form(action="http://localhost:3000/", method="post")
      .row
        input(type='text' name='tweetcontent' placeholder='Your Tweet' required='')
        input(type='submit' value='Send')
  .tweetDisplayContainer
    each tweet in tweets
      #tweetContainer
        h1= tweet.content
      