head
  title Account!
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='css/account.css')
body
  .container
    .col.nav
      .row.userPicContainer
      .row.routeList
        a.profile.btn(href="/profile")
          i.fa.fa-profile.fa-fw
          |  Profile
        a.logout.btn(href="/logout")
          i.fa.fa-logout.fa-fw
          |  Logout
    .col.tweet
      .row.tweetPost
        form(action="/account", method="post")
          textarea(name="tweetContnet", rows="6", maxlength="500")
          input(type="submit" value="Post Tweet")
      .row.tweetDisplay
        each t in tweets.tweet
          #tweetContainer
            h3= t.content
      